.container-fluid{
    margin: 0;
    padding: 0;
    .container{
        margin: 0;
        padding: 0;
    }
}
.atm-wrapper{
    margin: 0 auto;
    background: #0c336f;
    min-height: 495px;
    height: 495px;
    text-align: center;
    padding: 28px;
    color: #fff;
    .atm-header{
        display: block;
        padding: 0 16px 70px;
        a{
            font-weight: bolder;
            font-size: 28px;
            color: #fff;
            text-decoration: none;
            float: left;
        }
        span{
            text-align: right;
            font-weight: bolder;
            text-transform: uppercase;
            font-size: 11px;
            display: block;
            padding: 10px 0 0;
        }
    }
    .atm-content{
        .title{
            display: block;
            color: #01b4f6;
            text-align: left;
            font-size: 15px;
            &:nth-child(3){
                margin-top: 15px;
            }
        }
        .info{
            display: block;
            color:#ffffff;
            text-align: left;
            font-size: 20px;
            font-weight: bold;
        }
        .btn{
            &.btn-get-money{ 
                background-color:#00f662;
                border-radius: 0;
                width: 100%;
                height: 67px;
                color: #ffffff;
                font-size: 20px;
                font-weight: bold;
                &:hover{
                    opacity: 0.8;
                }
                &:after{
                    content: ' >';
                }
            }
        }
        input{
            margin: 20px 0 10px;
            -webkit-appearance: none;
            -moz-appearance:    none;
            appearance:         none;
            border: 0;
            background-color:#2f9bc2;
            border-radius: 0;
            width: 100%;
            height: 100px;
            color: #ffffff;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            &:focus{
                border: 1px #01b4f6 solid;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        }
        ::-webkit-input-placeholder {
            color: #ffffff;
        }
        ::-moz-placeholder {
        color: #ffffff;
        }
        :-ms-input-placeholder {
        color: #ffffff;
        }
        :-moz-placeholder {
        color: #ffffff;
        }     
    }
    .atm-footer{
        p{
            display: none;
        }
    }
}
.statement{
    width: 100%;
    height: auto;
    padding: 28px;
    font-size: 11px;
    top: 20px;
    right: 20px;
    background: #ffffff;
    color: #000;
    border-radius: 3px;
    .info-statement{
        .title{
            display: block;
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
        }
        p{
            font-size: 14px;
            margin: 12px;
            text-align: left;
        }
        
    }
}
@media (min-width:768px){
    .container-fluid{
        .container{
            margin-right: auto;
            margin-left: auto;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .atm-wrapper{
        margin-top: 30px;
        .atm-content{
            input{
                font-size: 38px;
            }
        }
    }
}

@media (min-width:992px){
    .atm-wrapper{
        max-width: 666px;
        .atm-header{
            padding: 0 16px 100px;
        }
    }
    .statement{
        padding: 15px;
        position: absolute;
        width: 220px;
        .info-statement{
            margin: 12px 0;
        }
    }
}