.atm-wrapper{
    margin: 30px auto;
    background: #0c336fe0;
    max-width: 666px;
    min-height: 495px;
    height: 495px;
    text-align: center;
    padding: 28px;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    .atm-header{
        display: block;
        padding: 0 16px 50px;
        a{
            font-weight: bolder;
            font-size: 28px;
            color: #fff;
            text-decoration: none;
            float: left;
        }
        span{
            text-align: right;
            font-weight: bolder;
            text-transform: uppercase;
            font-size: 11px;
            display: block;
            padding: 10px 0 0;
        }
    }
    .atm-content{
        .title{
            display: block;
            color: #01b4f6;
            text-align: left;
            font-size: 15px;
            &:nth-child(3){
                margin-top: 15px;
            }
        }
        .info{
            display: block;
            color:#ffffff;
            text-align: left;
            font-size: 20px;
            font-weight: bold;
        }
        ul{
            padding: 0;
            li{
                width: 48%;
                list-style-type: none;
                display: inline-block;
                margin: 4px 0px 0;
                padding: 2px;
                &:nth-child(5){
                    width: calc(96% + 4px);
                }
                &:last-child{
                    margin-top: 40px;
                    width: calc(96% + 4px);
                }
                .btn{
                    &.btn-cash{
                        background-color:#01b4f6;
                        border-radius: 0;
                        width: 100%;
                        height: 67px;
                        color: #ffffff;
                        font-size: 20px;
                        &:hover{
                            opacity: 0.8;
                        }
                        &:before{
                            content: '$ ';
                        }
                    }
                    &.btn-get-money{
                        background-color:#00f662;
                        border-radius: 0;
                        width: 100%;
                        height: 67px;
                        color: #ffffff;
                        font-size: 20px;
                        font-weight: bold;
                        &:hover{
                            opacity: 0.8;
                        }
                        &:after{
                            content: ' >';
                        }
                    }
                }
                input{
                    -webkit-appearance: none;
                    -moz-appearance:    none;
                    appearance:         none;
                    border: 0;
                    background-color:#2257bf;
                    border-radius: 0;
                    width: 100%;
                    height: 67px;
                    color: #ffffff;
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                    &:focus{
                        border: 1px #01b4f6 solid;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                }
                ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: #ffffff;
                  }
                  ::-moz-placeholder { /* Firefox 19+ */
                    color: #ffffff;
                  }
                  :-ms-input-placeholder { /* IE 10+ */
                    color: #ffffff;
                  }
                  :-moz-placeholder { /* Firefox 18- */
                    color: #ffffff;
                  }
                  
            }
        }      
    }
    .atm-footer{
        p{
            display: none;
            &.warning{
                display: block;
                text-align: left;
                color:rgb(248, 97, 97);
            }
        }
    }
}
.extract{
    width: 220px;
    position: absolute;
    padding: 10px;
    font-size: 11px;
    top: 20px;
    right: 20px;
    background: #ffffff;
    color: #000;
    border-radius: 3px;
    .info-extract{
        .title{
            display: block;
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
        }
        p{
            font-size: 14px;
            margin: 12px;
            text-align: center;
        }
    }
}
@media (min-width:768px){

}

@media (min-width:992px){
    
}