// Variables
// --------------------------------------------------

//== Colors
$gray: #8c8c8c !default;
$gray2: #666666;

// Fonts
$font-family-base: 'Calibri', 'Arial', 'Helvetica', sans-serif;
 
// font sizing
$font-size--xs: 10px;

 
