<div class="container-fluid">
    <div class="container">
        <div class="atm-wrapper">
            <div class="atm-header">
                <a href="#">ATM</a>
                <span>withdraw</span>
            </div>
            <div class="atm-content">
                <div class="col-lg-3">
                    <span class="title atm-welcome">Welcome</span>
                    <span class="info atm-name">Ana Laura</span>
                    <span class="title at-money">Balance</span>
                    <span class="info atm-name">$ Infinite</span>
                </div>
                <div class="col-lg-9"> 
                    <ul>
                        <li><button type="button" class="btn btn-cash">10,00</button></li>
                        <li><button type="button" class="btn btn-cash">20,00</button></li>
                        <li><button type="button" class="btn btn-cash">50,00</button></li>
                        <li><button type="button" class="btn btn-cash">100,00</button></li>
                        <li><input id="txtInputWithdraw" type="text" class="form-control" placeholder="Type other value" aria-label="Type other value" /></li>
                        <li><button id="btnGetMoney" type="button" class="btn btn-get-money">Get Money</button></li>
                    </ul>
                </div>
            </div>
            <div class="atm-footer">
                <div class="col-lg-9 col-lg-offset-3"> 
                    <p class="">*Field "Type other value" is empty</p>
                </div>
            </div>
        </div>
        <div class="extract">
            <div class="info-extract">
                <strong class="title">Extract</strong>
            </div>
        </div>
    </div>
</div>